---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
---
<footer>
	<p>
		¡Más información sobre mis proyectos en
		<a href={`https://www.${platform}.com/${username}`}>{platform}</a>!
	</p>
    <div>
        <Social platform="twitter" username="astrodotbuild" />
        <Social platform="github" username="withastro" />
        <Social platform="youtube" username="astrodotbuild" />
    </div>
</footer>
